[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

requests = "*"
pprint = "*"
plotly = "*"
numpy = "*"
"789eb24" = {path = ".\\\\TA_Lib-0.4.17-cp27-cp27m-win32.whl"}


[requires]

python_version = "2.7"
